<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">


  <plugin filename="gz-sim-sensors-system"
    name="gz::sim::systems::Sensors">
    <render_engine>ogre2</render_engine>
  </plugin>

  <plugin filename="gz-sim-imu-system"
    name="gz::sim::systems::Imu">
  </plugin>
  <plugin filename="gz-sim-logical-camera-system"
    name="gz::sim::systems::LogicalCamera">
  </plugin>
  <plugin filename="gz-sim-camera-system"
        name="gz::sim::systems::Camera">
  </plugin>
  <plugin filename="gz-sim-joint-state-publisher-system" name="gz::sim::systems::JointStatePublisher">
    <topic>gazebo/joint_state</topic>
    <joint_name>l_hip_yaw</joint_name>
    <joint_name>l_hip_roll</joint_name>
    <joint_name>l_hip_pitch</joint_name>
    <joint_name>l_knee</joint_name>
    <joint_name>l_ank_roll</joint_name>
    <joint_name>l_ank_pitch</joint_name>
    <joint_name>r_hip_yaw</joint_name>
    <joint_name>r_hip_roll</joint_name>
    <joint_name>r_hip_pitch</joint_name>
    <joint_name>r_knee</joint_name>
    <joint_name>r_ank_roll</joint_name>
    <joint_name>r_ank_pitch</joint_name>
    <joint_name>l_sho_pitch</joint_name>
    <joint_name>l_sho_roll</joint_name>
    <joint_name>l_el</joint_name>
    <joint_name>r_sho_pitch</joint_name>
    <joint_name>r_sho_roll</joint_name>
    <joint_name>r_el</joint_name>
    <joint_name>head_pan</joint_name>
    <joint_name>head_tilt</joint_name>
  </plugin>

<plugin filename="gz-sim-joint-position-controller-system" name="gz::sim::systems::JointPositionController">
        <joint_name>l_hip_yaw</joint_name>
        <p_gain>1</p_gain>
        <i_gain>0.1</i_gain>
        <d_gain>0.01</d_gain>
        <i_max>1</i_max>
        <i_min>-1</i_min>
        <cmd_max>1000</cmd_max>
        <cmd_min>-1000</cmd_min>
      </plugin>
      
      <plugin filename="gz-sim-joint-position-controller-system" name="gz::sim::systems::JointPositionController">
        <joint_name>l_hip_roll</joint_name>
        <p_gain>1</p_gain>
        <i_gain>0.1</i_gain>
        <d_gain>0.01</d_gain>
        <i_max>1</i_max>
        <i_min>-1</i_min>
        <cmd_max>1000</cmd_max>
        <cmd_min>-1000</cmd_min>
      </plugin>
      
      <plugin filename="gz-sim-joint-position-controller-system" name="gz::sim::systems::JointPositionController">
        <joint_name>l_hip_pitch</joint_name>
        <p_gain>1</p_gain>
        <i_gain>0.1</i_gain>
        <d_gain>0.01</d_gain>
        <i_max>1</i_max>
        <i_min>-1</i_min>
        <cmd_max>1000</cmd_max>
        <cmd_min>-1000</cmd_min>

      </plugin>
      <plugin filename="gz-sim-joint-position-controller-system" name="gz::sim::systems::JointPositionController">
        <joint_name>l_knee</joint_name>
        <p_gain>1</p_gain>
        <i_gain>0.1</i_gain>
        <d_gain>0.01</d_gain>
        <i_max>1</i_max>
        <i_min>-1</i_min>
        <cmd_max>1000</cmd_max>
        <cmd_min>-1000</cmd_min>
      </plugin>
      <plugin filename="gz-sim-joint-position-controller-system" name="gz::sim::systems::JointPositionController">
        <joint_name>l_ank_roll</joint_name>
        <p_gain>1</p_gain>
        <i_gain>0.1</i_gain>
        <d_gain>0.01</d_gain>
        <i_max>1</i_max>
        <i_min>-1</i_min>
        <cmd_max>1000</cmd_max>
        <cmd_min>-1000</cmd_min>
      </plugin>
      <plugin filename="gz-sim-joint-position-controller-system" name="gz::sim::systems::JointPositionController">
        <joint_name>l_ank_pitch</joint_name>
        <p_gain>1</p_gain>
        <i_gain>0.1</i_gain>
        <d_gain>0.01</d_gain>
        <i_max>1</i_max>
        <i_min>-1</i_min>
        <cmd_max>1000</cmd_max>
        <cmd_min>-1000</cmd_min>
      </plugin>
      <plugin filename="gz-sim-joint-position-controller-system" name="gz::sim::systems::JointPositionController">
        <joint_name>r_hip_yaw</joint_name>
        <p_gain>1</p_gain>
        <i_gain>0.1</i_gain>
        <d_gain>0.01</d_gain>
        <i_max>1</i_max>
        <i_min>-1</i_min>
        <cmd_max>1000</cmd_max>
        <cmd_min>-1000</cmd_min>
      </plugin>
      <plugin filename="gz-sim-joint-position-controller-system" name="gz::sim::systems::JointPositionController">
        <joint_name>r_hip_roll</joint_name>
        <p_gain>1</p_gain>
        <i_gain>0.1</i_gain>
        <d_gain>0.01</d_gain>
        <i_max>1</i_max>
        <i_min>-1</i_min>
        <cmd_max>1000</cmd_max>
        <cmd_min>-1000</cmd_min>
      </plugin>
      <plugin filename="gz-sim-joint-position-controller-system" name="gz::sim::systems::JointPositionController">
        <joint_name>r_hip_pitch</joint_name>
        <p_gain>1</p_gain>
        <i_gain>0.1</i_gain>
        <d_gain>0.01</d_gain>
        <i_max>1</i_max>
        <i_min>-1</i_min>
        <cmd_max>1000</cmd_max>
        <cmd_min>-1000</cmd_min>
      </plugin>
      <plugin filename="gz-sim-joint-position-controller-system" name="gz::sim::systems::JointPositionController">
        <joint_name>r_knee</joint_name>
        <p_gain>1</p_gain>
        <i_gain>0.1</i_gain>
        <d_gain>0.01</d_gain>
        <i_max>1</i_max>
        <i_min>-1</i_min>
        <cmd_max>1000</cmd_max>
        <cmd_min>-1000</cmd_min>
      </plugin>
      <plugin filename="gz-sim-joint-position-controller-system" name="gz::sim::systems::JointPositionController">
        <joint_name>r_ank_roll</joint_name>
        <p_gain>1</p_gain>
        <i_gain>0.1</i_gain>
        <d_gain>0.01</d_gain>
        <i_max>1</i_max>
        <i_min>-1</i_min>
        <cmd_max>1000</cmd_max>
        <cmd_min>-1000</cmd_min>
      </plugin>
      <plugin filename="gz-sim-joint-position-controller-system" name="gz::sim::systems::JointPositionController">
        <joint_name>r_ank_pitch</joint_name>
        <p_gain>1</p_gain>
        <i_gain>0.1</i_gain>
        <d_gain>0.01</d_gain>
        <i_max>1</i_max>
        <i_min>-1</i_min>
        <cmd_max>1000</cmd_max>
        <cmd_min>-1000</cmd_min>
      </plugin>
      <plugin filename="gz-sim-joint-position-controller-system" name="gz::sim::systems::JointPositionController">        
        <joint_name>l_sho_pitch</joint_name>
        <p_gain>1</p_gain>
        <i_gain>0.1</i_gain>
        <d_gain>0.01</d_gain>
        <i_max>1</i_max>
        <i_min>-1</i_min>
        <cmd_max>1000</cmd_max>
        <cmd_min>-1000</cmd_min>
      </plugin>
      <plugin filename="gz-sim-joint-position-controller-system" name="gz::sim::systems::JointPositionController">
        <joint_name>l_sho_roll</joint_name>
        <p_gain>1</p_gain>
        <i_gain>0.1</i_gain>
        <d_gain>0.01</d_gain>
        <i_max>1</i_max>
        <i_min>-1</i_min>
        <cmd_max>1000</cmd_max>
        <cmd_min>-1000</cmd_min>
      </plugin>
      <plugin filename="gz-sim-joint-position-controller-system" name="gz::sim::systems::JointPositionController">       
        <joint_name>l_el</joint_name>
        <p_gain>1</p_gain>
        <i_gain>0.1</i_gain>
        <d_gain>0.01</d_gain>
        <i_max>1</i_max>
        <i_min>-1</i_min>
        <cmd_max>1000</cmd_max>
        <cmd_min>-1000</cmd_min>
      </plugin>
      <plugin filename="gz-sim-joint-position-controller-system" name="gz::sim::systems::JointPositionController">
        <joint_name>r_sho_pitch</joint_name>
        <p_gain>1</p_gain>
        <i_gain>0.1</i_gain>
        <d_gain>0.01</d_gain>
        <i_max>1</i_max>
        <i_min>-1</i_min>
        <cmd_max>1000</cmd_max>
        <cmd_min>-1000</cmd_min>
      </plugin>
      <plugin filename="gz-sim-joint-position-controller-system" name="gz::sim::systems::JointPositionController">
        <joint_name>r_sho_roll</joint_name>
        <p_gain>1</p_gain>
        <i_gain>0.1</i_gain>
        <d_gain>0.01</d_gain>
        <i_max>1</i_max>
        <i_min>-1</i_min>
        <cmd_max>1000</cmd_max>
        <cmd_min>-1000</cmd_min>
      </plugin>
      <plugin filename="gz-sim-joint-position-controller-system" name="gz::sim::systems::JointPositionController">
        <joint_name>r_el</joint_name>
        <p_gain>1</p_gain>
        <i_gain>0.1</i_gain>
        <d_gain>0.01</d_gain>
        <i_max>1</i_max>
        <i_min>-1</i_min>
        <cmd_max>1000</cmd_max>
        <cmd_min>-1000</cmd_min>
      </plugin>
      <plugin filename="gz-sim-joint-position-controller-system" name="gz::sim::systems::JointPositionController">
        <joint_name>head_pan</joint_name>
        <p_gain>1</p_gain>
        <i_gain>0.1</i_gain>
        <d_gain>0.01</d_gain>
        <i_max>1</i_max>
        <i_min>-1</i_min>
        <cmd_max>1000</cmd_max>
        <cmd_min>-1000</cmd_min>
      </plugin>
      <plugin filename="gz-sim-joint-position-controller-system" name="gz::sim::systems::JointPositionController">
        <joint_name>head_tilt</joint_name>
        <p_gain>1</p_gain>
        <i_gain>0.1</i_gain>
        <d_gain>0.01</d_gain>
        <i_max>1</i_max>
        <i_min>-1</i_min>
        <cmd_max>1000</cmd_max>
        <cmd_min>-1000</cmd_min>
      </plugin>

  <!-- body link -->
  <gazebo reference="body_link">
    <mu1>0.2</mu1>
    <mu2>0.2</mu2>
    <material>
      <ambient>0.388 0.388 0.388 1</ambient>
      <diffuse>0.388 0.388 0.388 1</diffuse>
      <specular>0.388 0.388 0.388 1</specular>
    </material>
    <selfCollide>false</selfCollide>
  </gazebo>
  

  <!-- left leg links -->
  <gazebo reference="l_hip_yaw_link">
    <mu1>0.2</mu1>
    <mu2>0.2</mu2>
    <material>
      <ambient>0.388 0.388 0.388 1</ambient>
      <diffuse>0.388 0.388 0.388 1</diffuse>
      <specular>0.388 0.388 0.388 1</specular>
    </material>
    <selfCollide>false</selfCollide>
  </gazebo>

  <gazebo reference="l_hip_roll_link">
    <mu1>0.2</mu1>
    <mu2>0.2</mu2>
    <material>
      <ambient>0.388 0.388 0.388 1</ambient>
      <diffuse>0.388 0.388 0.388 1</diffuse>
      <specular>0.388 0.388 0.388 1</specular>
    </material>
    <selfCollide>false</selfCollide>
  </gazebo>

  <gazebo reference="l_hip_pitch_link">
    <mu1>0.2</mu1>
    <mu2>0.2</mu2>
    <material>
      <ambient>0.388 0.388 0.388 1</ambient>
      <diffuse>0.388 0.388 0.388 1</diffuse>
      <specular>0.388 0.388 0.388 1</specular>
    </material>
    <selfCollide>false</selfCollide>
  </gazebo>

  <gazebo reference="l_knee_link">
    <mu1>0.2</mu1>
    <mu2>0.2</mu2>
    <material>
      <ambient>0.388 0.388 0.388 1</ambient>
      <diffuse>0.388 0.388 0.388 1</diffuse>
      <specular>0.388 0.388 0.388 1</specular>
    </material>
    <selfCollide>false</selfCollide>
  </gazebo>

  <gazebo reference="l_ank_pitch_link">
    <mu1>0.2</mu1>
    <mu2>0.2</mu2>
    <material>
      <ambient>0.388 0.388 0.388 1</ambient>
      <diffuse>0.388 0.388 0.388 1</diffuse>
      <specular>0.388 0.388 0.388 1</specular>
    </material>
    <selfCollide>false</selfCollide>
  </gazebo>

  <gazebo reference="l_ank_roll_link">
    <kp>100000.0</kp>
    <kd>100.0</kd>
    <mu1>1.5</mu1>
    <mu2>1.5</mu2>
    <fdir1>1 0 0</fdir1>
    <maxVel>1.0</maxVel>
    <minDepth>0.001</minDepth>
    <material>
      <ambient>0.388 0.388 0.388 1</ambient>
      <diffuse>0.388 0.388 0.388 1</diffuse>
      <specular>0.388 0.388 0.388 1</specular>
    </material>
  </gazebo>

  <!-- right leg links -->
  <gazebo reference="r_hip_yaw_link">
    <mu1>0.2</mu1>
    <mu2>0.2</mu2>
    <material>
      <ambient>0.388 0.388 0.388 1</ambient>
      <diffuse>0.388 0.388 0.388 1</diffuse>
      <specular>0.388 0.388 0.388 1</specular>
    </material>
    <selfCollide>false</selfCollide>
  </gazebo>

  <gazebo reference="r_hip_roll_link">
    <mu1>0.2</mu1>
    <mu2>0.2</mu2>
    <material>
      <ambient>0.388 0.388 0.388 1</ambient>
      <diffuse>0.388 0.388 0.388 1</diffuse>
      <specular>0.388 0.388 0.388 1</specular>
    </material>
    <selfCollide>false</selfCollide>
  </gazebo>

  <gazebo reference="r_hip_pitch_link">
    <mu1>0.2</mu1>
    <mu2>0.2</mu2>
    <material>
      <ambient>0.388 0.388 0.388 1</ambient>
      <diffuse>0.388 0.388 0.388 1</diffuse>
      <specular>0.388 0.388 0.388 1</specular>
    </material>
    <selfCollide>false</selfCollide>
  </gazebo>

  <gazebo reference="r_knee_link">
    <mu1>0.2</mu1>
    <mu2>0.2</mu2>
    <material>
      <ambient>0.388 0.388 0.388 1</ambient>
      <diffuse>0.388 0.388 0.388 1</diffuse>
      <specular>0.388 0.388 0.388 1</specular>
    </material>
    <selfCollide>false</selfCollide>
  </gazebo>

  <gazebo reference="r_ank_pitch_link">
    <mu1>0.2</mu1>
    <mu2>0.2</mu2>
    <material>
      <ambient>0.388 0.388 0.388 1</ambient>
      <diffuse>0.388 0.388 0.388 1</diffuse>
      <specular>0.388 0.388 0.388 1</specular>
    </material>
    <selfCollide>false</selfCollide>
  </gazebo>

  <gazebo reference="r_ank_roll_link">
    <mu1>9000</mu1>
    <kp>100000.0</kp>
    <kd>100.0</kd>
    <mu1>1.5</mu1>
    <mu2>1.5</mu2>
    <fdir1>1 0 0</fdir1>
    <maxVel>1.0</maxVel>
    <minDepth>0.001</minDepth>
    <material>
      <ambient>0.388 0.388 0.388 1</ambient>
      <diffuse>0.388 0.388 0.388 1</diffuse>
      <specular>0.388 0.388 0.388 1</specular>
    </material>
  </gazebo>

  <gazebo reference="r_sho_pitch_link">
    <mu1>0.2</mu1>
    <mu2>0.2</mu2>
    <material>
      <ambient>0.388 0.388 0.388 1</ambient>
      <diffuse>0.388 0.388 0.388 1</diffuse>
      <specular>0.388 0.388 0.388 1</specular>
    </material>
    <selfCollide>false</selfCollide>
  </gazebo>

  <gazebo reference="r_sho_roll_link">
    <mu1>0.2</mu1>
    <mu2>0.2</mu2>
    <material>
      <ambient>0.388 0.388 0.388 1</ambient>
      <diffuse>0.388 0.388 0.388 1</diffuse>
      <specular>0.388 0.388 0.388 1</specular>
    </material>
    <selfCollide>false</selfCollide>
  </gazebo>

  <gazebo reference="r_el_link">
    <mu1>0.2</mu1>
    <mu2>0.2</mu2>
    <material>
      <ambient>0.388 0.388 0.388 1</ambient>
      <diffuse>0.388 0.388 0.388 1</diffuse>
      <specular>0.388 0.388 0.388 1</specular>
    </material>
    <selfCollide>false</selfCollide>
  </gazebo>

  <gazebo reference="l_sho_pitch_link">
    <mu1>0.2</mu1>
    <mu2>0.2</mu2>
    <material>
      <ambient>0.388 0.388 0.388 1</ambient>
      <diffuse>0.388 0.388 0.388 1</diffuse>
      <specular>0.388 0.388 0.388 1</specular>
    </material>
    <selfCollide>false</selfCollide>
  </gazebo>

  <gazebo reference="l_sho_roll_link">
    <mu1>0.2</mu1>
    <mu2>0.2</mu2>
    <material>
      <ambient>0.388 0.388 0.388 1</ambient>
      <diffuse>0.388 0.388 0.388 1</diffuse>
      <specular>0.388 0.388 0.388 1</specular>
    </material>
    <selfCollide>false</selfCollide>
  </gazebo>

  <gazebo reference="l_el_link">
    <mu1>0.2</mu1>
    <mu2>0.2</mu2>
    <material>
      <ambient>0.388 0.388 0.388 1</ambient>
      <diffuse>0.388 0.388 0.388 1</diffuse>
      <specular>0.388 0.388 0.388 1</specular>
    </material>
    <selfCollide>false</selfCollide>
  </gazebo>

  <gazebo reference="head_pan_link">
    <mu1>0.2</mu1>
    <mu2>0.2</mu2>
    <material>
      <ambient>0.388 0.388 0.388 1</ambient>
      <diffuse>0.388 0.388 0.388 1</diffuse>
      <specular>0.388 0.388 0.388 1</specular>
    </material>
    <selfCollide>false</selfCollide>
  </gazebo>

  <gazebo reference="head_tilt_link">
    <mu1>0.2</mu1>
    <mu2>0.2</mu2>
    <material>
      <ambient>0.388 0.388 0.388 1</ambient>
      <diffuse>0.388 0.388 0.388 1</diffuse>
      <specular>0.388 0.388 0.388 1</specular>
    </material>
    <selfCollide>false</selfCollide>
  </gazebo>


  <!-- joint -->
  <!-- <gazebo reference="l_hip_yaw">
    <p_gain>1</p_gain>
    <i_gain>0.1</i_gain>
    <d_gain>0.01</d_gain>
    <i_max>1</i_max>
    <i_min>-1</i_min>
  </gazebo>

  <gazebo reference="l_hip_roll">

  </gazebo>

  <gazebo reference="l_hip_pitch">

  </gazebo>

  <gazebo reference="l_knee">

  </gazebo>

  <gazebo reference="l_ank_roll">

  </gazebo>

  <gazebo reference="l_ank_pitch">

  </gazebo>

  <gazebo reference="r_hip_yaw">

  </gazebo>

  <gazebo reference="r_hip_roll">

  </gazebo>

  <gazebo reference="r_hip_pitch">

  </gazebo>

  <gazebo reference="r_knee">

  </gazebo>

  <gazebo reference="r_ank_roll">

  </gazebo>

  <gazebo reference="r_ank_pitch">

  </gazebo>

  <gazebo reference="r_sho_pitch">

  </gazebo>

  <gazebo reference="r_sho_roll">

  </gazebo>

  <gazebo reference="r_el">

  </gazebo>

  <gazebo reference="l_sho_pitch">

  </gazebo>

  <gazebo reference="l_sho_roll">

  </gazebo>

  <gazebo reference="l_el">

  </gazebo>

  <gazebo reference="head_pan">

  </gazebo>

  <gazebo reference="head_tilt">

  </gazebo> -->


  <!-- head camera -->
  <gazebo reference="cam_gazebo_link">
    <sensor name="camera" type="camera">
    <always_on>true</always_on>
    <visualize>true</visualize>
    <update_rate>30</update_rate>
    <topic>gazebo/camera/image_raw</topic>
    <gz_frame_id>cam_link</gz_frame_id>
    <camera name="__default__">
      <camera_info_topic>gazebo/camera/camera_info</camera_info_topic>
      <horizontal_fov>1.012300</horizontal_fov>
      <image>
        <width>320</width>
        <height>200</height>
      </image>
      <clip>
        <near>0.001000</near>
        <far>100.000000</far>
      </clip>
    </camera>
  </sensor>
  </gazebo>

  <!-- imu sensor -->
  <gazebo reference="body_link">
    <gravity>true</gravity>
    <sensor name="imu_sensor" type="imu">
      <always_on>1</always_on>
      <update_rate>1</update_rate>
      <visualize>true</visualize>
      <topic>gazebo/imu</topic>
      <pose>0 0 0 0 0 0</pose>
    </sensor>
  </gazebo>

</robot>
