<div class="relative ml-6 max-h-[36.4rem] overflow-auto rounded-lg">
    <table class="w-full text-sm text-center text-gray-400">
        <thead class="text-xs uppercase bg-gray-700 text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    No.
                </th>
                <th scope="col" class="px-20 py-3">
                    Pose Name
                </th>
                <th scope="col" class="px-6 py-3">
                    Delay (ms)
                </th>
                <th scope="col" class="px-6 py-3">
                    Duration (ms)
                </th>
                <th scope="col" class="px-6 py-3">
                    Delete
                </th>
            </tr>
        </thead>
        <tbody id="sequencer_list">
            <tr class="border-b bg-gray-800 border-gray-700" id="table_init">
                <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap text-white">
                    -
                </th>
                <td class="px-6 py-4">
                    No Pose Selected
                </td>
                <td class="px-6 py-4">
                    -
                </td>
                <td class="px-6 py-4">
                    -
                </td>
                <td class="px-6 py-4">
                    -
                </td>
            </tr>
        </tbody>
    </table>
</div>
