<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
    <script src="./js/navbar_utils.js"></script>
</head>

<body>
    <%- include('../partials/navbar') %>
</body>

</html>