<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
    <script src="/js/navbar_utils.js"></script>
</head>

<body class="bg-gray-950">
    <%- include('../partials/navbar') %>
</body>

</html>