<?xml version="1.0" ?>
<robot name="robotis_op3">
    <webots>
        <plugin type="altair_simulations.webots_op3_driver.WebotsOP3Driver">
            <webots_basic_timestep>32</webots_basic_timestep>
            <robot_name>robotis_op3</robot_name>
            <joint_num>20</joint_num>
            <joints>
                ShoulderR
                ShoulderL
                ArmUpperR
                ArmUpperL
                ArmLowerR
                ArmLowerL
                PelvYR
                PelvYL
                PelvR
                PelvL
                LegUpperR
                LegUpperL
                LegLowerR
                LegLowerL
                AnkleR
                AnkleL
                FootR
                FootL
                Neck
                Head
            </joints>
            <position_sensors>
                ShoulderRS
                ShoulderLS
                ArmUpperRS
                ArmUpperLS
                ArmLowerRS
                ArmLowerLS
                PelvYRS
                PelvYLS
                PelvRS
                PelvLS
                LegUpperRS
                LegUpperLS
                LegLowerRS
                LegLowerLS
                AnkleRS
                AnkleLS
                FootRS
                FootLS
                NeckS
                HeadS
            </position_sensors>
        </plugin>
    </webots>
</robot>